*{
    margin: 0%;
}
#h2{
    font-size: 30px;
    margin-top: 3%;
    margin-left: 42%;
    
}
#formid{
    margin-left: 33%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 30px;
    padding-left: 70px;
    background-color: rgb(239, 219, 181);
    width: 500px;
    border-radius: 5px;
}
#labelfname{
    font-size: 16px;
    font-weight: bold;
}
#labellname{
    font-size: 16px;
    font-weight: bold;
}
#fname{
    color: black;
    font-size: 15px;
    width: 270px;
    height: 22px;
}
#lname{
    color: black;
    font-size: 15px;
    width: 270px;
    height: 22px;
}
#submit{
    width: 67px;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 90px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
#table{
    margin: 10px;
    margin-left: 20%;
    margin-top: 27px;
    width: 900px;
}
#thead{
    height: 50px;
    text-align: center;
    border-bottom: solid;
    background-color: rgb(46, 46, 44);
    color: aliceblue;
}

@media only screen and (max-width: 900px)and (min-width: 270px){
    #h2{
        font-size: 20px;
        margin-left: 29%;
    }
    #formid{
        width: 70%;
        /* position: relative;
        right: 17%; */
        margin-left: 15%;
    }
    #labelfname,#labellname{
        width: 70%;
        font-size: 13px;
        margin-left: -5%;
    }
    #fname,#lname{
        width: 90%;
        font-size: 13px;
        margin-left: -5%;
    }
    #submit{
        font-size: 13px;
        margin-left: -5%;
    }
    #table{
        width: 90%;
        margin-left: 5%;
    }
    #thead{
        font-size: 13px;
    }
    #tbody{
        font-size: 13px;
    }

}
