*{
    margin: 0%;
    padding: 0%;
}
#h2{
    font-size: 30px;
    margin-top: 23px;
    margin-left: 43%;
}
#formid{
    margin-left: 37%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-top: 30px;
    padding-left: 70px;
    background-color: rgb(239, 219, 181);
    width: 400px;
    border-radius: 5px;
}
#labelfname{
    font-size: 16px;
    font-weight: bold;
}
#labellname{
    font-size: 16px;
    font-weight: bold;
}
#fname{
    color: black;
    font-size: 15px;
    width: 270px;
    height: 22px;
}
#lname{
    color: black;
    font-size: 15px;
    width: 270px;
    height: 22px;
}
#submit{
    width: 67px;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 90px;
    margin-bottom: 30px;
    padding-bottom:10px
    
}
#table{
    margin: 10px;
    margin-left: 20%;
    margin-top: 27px;
    padding: 0%;
    width: 900px;
}
#thead{
    height: 50px;
    text-align: center;
    border-bottom: solid;
    background-color: rgb(46, 46, 44);
    color: aliceblue;
}
#tbody{
    width: 50px;
    height: 20px;
}

@media (max-width: 1000px) {
    #h2{
        position: relative;
        right: 10%;
        font-size: 25px;
    }
    #formid{
        width: 70%;
        position: relative;
        right: 20%;
    }
    #labelfname,#labellname{
        width: 70%;
        font-size: 15px;
        position: relative;
        right: 5%;
    }
    #fname,#lname{
        width: 90%;
        font-size: 15px;
        position: relative;
        right: 5%;
    }
    #submit{
        font-size: 15px;
        position: relative;
        right: 10%;
    }
    #table{
        width: 90%;
        position: relative;
        right: 15%;
    }

}
